.wrapper {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 5;
    background-color: rgba(0, 0, 0, .7);
    display: flex;
}

.modal {
    z-index: 10;
    width: 40%;
    background-color: #FFF;
    margin: auto;
}

.title {
    height: 20%;
    border-bottom: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
}

.form {
    height: 70%;
    border-bottom: 2px solid black;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
}

.input {
    padding: 8px;
    width: 80%;
    height: 10%;
    margin-bottom: 10px;
}


.button {
    padding: 10px;
    background-color: rgba(0, 0, 0, 0);
    font-size: 15px;
    border: solid 2px rgb(0, 0, 0);
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 10px;
}

.width100 {
    width: 100%;
}

.wrapperInfos {
    display: flex;
    width: 100%;
    align-items: center;
    margin-bottom: 10px;
}

.input2 {
    padding: 8px;
    width: 80%;
    height: 100%;
    margin-right: 10px;
}

.buttonWrapper {
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 10px;
}

.buttonCancel {
    padding: 10px;
    background-color: rgba(0, 0, 0, 0);
    color: rgb(150, 80, 50);
    font-size: 15px;
    border: solid 2px rgb(150, 80, 50);
    border-radius: 5px;
    cursor: pointer;
}

.buttonSuccess {
    padding: 10px;
    background-color: rgba(0, 0, 0, 0);
    color: rgb(80, 150, 50);
    font-size: 15px;
    border: solid 2px rgb(80, 150, 50);
    border-radius: 5px;
    cursor: pointer;
    margin-right: 12px;
}

/*TODO потом переделать*/

.infoWrapper {
    margin-top: 20px;
}

.infoTitle {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 10px;
}

.infoRow {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.removeInfo {
    color: #ff0000;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    margin-left: 10px;
}

.addInfo {
    color: #3498db;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 10px;
}

.removeInfo:hover {
    transform: scale(1.1);
    transition: transform 0.2s ease-in-out;
}

.addInfo:hover {
    transform: scale(1.1);
    transition: transform 0.2s ease-in-out;
}

.fileName {
    display: flex;
    align-items: center;
    margin-top: 10px;
    color: #333;
    font-size: 14px;
    font-weight: bold;
}

.fileInputWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    height: 40px;
    border: 2px dashed #ccc;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.fileInputWrapper:hover {
    background-color: #f9f9f9;
    border-color: #3498db;
}

.fileInput {
    display: none;
}
