.wrapper {
    height: calc(100vh - 75px);
    display: flex;
    align-items: center;
    justify-content: center;
}

.card {
    border: 1px solid #888;
    width: 600px;
    padding: 50px;
}

.cardTitle {
    font-size: 28px;
    font-weight: 600;
    letter-spacing: 2px;
    text-align: center;
}

.form {
    display: flex;
    flex-direction: column;
}

.input {
    margin-top: 12px;
    padding: 8px;
}

.buttonWrapper {
    display: flex;
    justify-content: space-between;
}

.link {
    text-decoration: none;
    color: rgb(89, 120, 240);
}

.button {
    padding: 10px;
    margin-top: 12px;
    background-color: rgba(0, 0, 0, 0);
    color: rgb(80, 150, 50);
    font-size: 15px;
    border: solid 2px rgb(80, 150, 50);
    border-radius: 5px;
    cursor: pointer;
}