.wrapper {
    width: 11.3vw;
    height: 35vh;
    cursor: pointer;
    border: solid 1px black;
    padding: 10px;
    margin-bottom: 30px;
    font-size: 2.5vh;
}

.isLast {
    margin-right: 0;
}

.img {
    border: solid 1px black;
    width: 100%;
    height: 20vh;
    margin: 0 auto;
}

.infoWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 3px;
}

.brandName {
    color: rgba(0, 0, 0, .5);
}

.ratingWrapper {
    display: flex;
    align-items: center;
}

.block {
    display: block;
}

.button {
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px 5px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 5px;
    left: 75px;
    position: relative;
}